{% load static %}
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <title>Invitación XV</title>
  <meta name="description" content="Invitación a XV años">
  <meta name="author" content="SitePoint">

  <meta property="og:title" content="Invitación a XV años">
  <meta property="og:type" content="website">

  <link rel="icon" href="/favicon.ico">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Charm&family=Italianno&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Italianno&display=swap" rel="stylesheet">
  <!------------------>

</head>

<body>
  <articule>
    <div>
        {% block content %}

        {% endblock content %}
    </div>
  </articule>
</body>
</html>